@CHARSET "ISO-8859-1";





#auto_wrapper{

	padding: 0%;
	width: 95%;
	text-align: left;
        border: 1px solid;
       -moz-border-radius: 3px;

	}


#auto_user_input_fields{

	 
	}

#auto_list ul{
	 color: green;
	 padding: 1px;
	 border-bottom: 1px solid blue;
	 
	}
#auto_list ul li{
   list-style:none;
   color: red;
   list-decoration: none;
   
}

#auto_header{

	text-align: center;

	font-size: 14px;

	padding-top: 3px;

	

	}

	

#auto_select_options{

	

	

	}	